/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.sinobest-loadingstatus {
    display: none;
    position: fixed;
    _position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url("../img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.5;
    /*background: rgba( 255, 255, 255, .8 )
                url('./pIkfp.gif')
                50% 50%
                no-repeat;*/
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.sinobest-loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.sinobest-loading .sinobest-loadingstatus {
    display: block;
}